name: Artifact Demo

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Create file
        run: echo "This is my build file" > build.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-build
          path: build.txt
