name: Controlled Pipeline

on:
  push:
    branches:
      - main
jobs:
  first:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello" > file.txt

  second:
    runs-on: ubuntu-latest
    steps:
      - run: cat file.txt
