name: Controlled Pipeline

on:
  push:
    branches:
      - main
jobs:
  first:
    runs-on: ubuntu-latest
    steps:
      - run: python --version
      - run: node --version
      - run: docker --version
