name: Controlled Pipeline

on:
  push:
    branches:
      - main
jobs:
  first:
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt update
      - run: sudo apt install tree -y
      - run: tree

