name: Controlled Pipeline

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Building project."
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Running tests..."
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Deploying application..."
